@charset "utf-8";

/* grid,background setting */
 body{background: linear-gradient(skyblue, white,white,white);background-repeat: no-repeat;}
.wrapper{width:967px; margin:10px auto;background-color:#fff;}

/* header style */
#header {position:relative}
#header .header_title{font-size:50px;font-weight:800;color:#ff0;position:absolute; left:20px; top:20px;}
#header .keyvisual{width:967px;height:283px; background:url(../img/keyvisual.png)no-repeat 0 0}
#header .menu{background-color:green}
#header .menu ul{overflow:hidden;}
#header .menu ul li{float:left; padding:0 50px; margin-left:30px;}
#header .menu ul li:first-child{margin-left:0}
#header .menu ul li a{display:block; line-height:70px;color:#fff;}

/* section style */
#section .main_content{overflow:hidden}
#section .main_content .text_zone{width:calc(100% - 240px);padding:10px;float:left}
#section .main_content .text_zone h1{margin:10px 0;font-size:23px; font-weight:600}
#section .main_content .text_zone .sub_tit{margin:5px 0;font-size:18px; font-weight:600}
#section .main_content .banner_zone{width:220px;float:right}
#section .main_content .banner_zone li{border:10px solid #ddffdd}
#section .main_content .banner_zone li:nth-child(2){border-top:none;}
#section .main_content .banner_zone li:last-child{border-top:none;}

/* footer style */
#footer{background-color:#061f1f; padding:10px;color:#fff; text-align:center;height:100px}
#footer .adress{margin:20px 0}
#footer .copyright{margin:20px 0}

/* 반응형 */
@media only screen and (max-width:967px){
	
	.wrapper{width:80%}

	#header .keyvisual{width:100%;height:100px;background:none;background-color:#061f1f;}
	#header .menu{background-color:#fff}
	#header .menu ul {width:80%; margin:0 auto;}
	#header .menu ul li{float:none; margin:20px 0; margin-left:0;border:2px solid #eee;border-radius:20px;text-align:center}
	#header .menu ul li a{display:block; line-height:70px;color:blue;}
	
	#section .main_content .text_zone{width:calc(100% - 40px);padding:20px;float:none}
	#section .main_content .banner_zone{width:calc(100% - 40px);    margin: 0 auto;float:none}
	#section .main_content .banner_zone li{border:none;width:100%;margin:10px 0}
	#section .main_content .banner_zone li img{width:100%;}

}